<table class = "table table-striped", width="100%" border="1">
  <thead class = "thead thead-default" >
    <tr>
      <th width="25%">Name</th>
      <th width="50%">Email</th>
      <th width="25%"></th>
    </tr>
  </thead>
  
  <tbody>
    <%= render @users %>
  </tbody>  
</table>