<table width="100%" border="1">
  <thead>
    <tr>
      <th width="25%">Name</th>
      <th width="50%">Email</th>
      <th width="25%"></th>
    </tr>
  </thead>
  
  <tbody>
    <%= render @users %>
  </tbody>  
</table>