<% provide(:title, "Menu") %>

<p id="notice"><%= notice %></p>



<h1>Menu</h1>

<div class="button-container">

  <div class="row">

    <% @categories.each do |category| %>

      <td id = '<%= category.id %>'>

        <span class = 'category-button'>

          <%= link_to category.name, selected_category_path(category, :id => category.id), remote: true, class: "btn btn-lg btn-primary" %>

        </spa>

      </td>

    <% end %>
    
  </div>
  
</div>


<section id="foods-section">

  <div id="foods">

  </div>

</section>

<br>
<br>
<%= link_to "Manage Menu", add_category_path, class: "btn btn-primary" %>
